//border radius
.rounded-5 {
    border-radius: 50px;
}

// padding

.padding {
    padding: 200px 200px;
}



// d flex

.d-flex {
    display: flex;
}

// align-items 

.align-items-center {
    align-items: center;
}

// justify-content

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

// text-align

.text-center {
    text-align: center;
}

// container

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}




// row 

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

// cols