//border radius
.rounded-5 {
    border-radius: 50px;
}



//Access form style
.left-and-right-line{
    display: flex;
    align-items: center;

    & > hr{
        flex-grow: 1;
        width: 20%;
    }
    & > h6{
        flex-grow: 1;
        width: 50%;
    }
}

//Shadow
.shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
